<div class="container">
  <div class="row">
  {{#each pets}}
  <div class="col l12 s12 m12">
    <div class="card card-pets row">
      <div class="card-image waves-effect waves-block waves-light col l3 card-image-pets">
        <img class="activator card-image" src="/images/couple/{{imagen0}}">
      </div>
      <div class="card-content contenido-tarjeta-pets col l9">
        <div class="div-name-card-pets overflow">
          <h5>{{nombre}}</h5>
        </div>
        <div class="div-raza-card-pets">
          {{#if sexo}}
          <i class="fas fa-mars genero-revel-index-macho"></i>
          {{else}}
          <i class="fas fa-venus genero-revel-index-hembra"></i>
          {{/if}}
          <label class="raza-revel-pets">{{raza}}</label><br>

        </div>
        <div class="div-descripcion-card-pets">
          <p>{{descripcion}}</p>
        </div>
        <div class="div-btn-card-pets row">
          <div class="col l6 div-left">
            <a class="modal-trigger" href="#modal{{_id}}">Mostrar mas información</a>
          </div>
          <div class="col l6 div-right">
              <form action="/delete-couple/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="button-delete"><i class="far fa-trash-alt btn-eliminar"></i></button>
                <a href="/edit-couple/{{_id}}"><i class="far fa-edit"></i></a>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Structure -->

 <div id="modal{{_id}}" class="modal">
   <div class="modal-content">
     <div class="row">
       <div class="col l3 modal-content-left">
         <div class="row div-modal-icons">
           <div class="col l8">
             <i class="fas fa-long-arrow-alt-left modal-close"></i>
           </div>
           <div class="col l2">
             <i class="fas fa-star"></i>
           </div>
           <div class="col l2">
             <i class="fas fa-sync-alt"></i>
           </div>
         </div>
         <div class="div-image-pets-modal">
           <img src="/images/couple/{{imagen0}}" alt="imagen" class="responsive-img">
           <div class="subdiv-image-pets-modal row">
             <div class="col l3">
               <img src="/images/couple/{{imagen0}}" class="responsive-img">
             </div>
             <div class="col l3">
               <img src="/images/couple/{{imagen1}}"  class="responsive-img">
             </div>
             <div class="col l3">
               <img src="/images/couple/{{imagen2}}"  class="responsive-img">
             </div>
             <div class="col l3">
               <img src="/images/couple/{{imagen3}}"  class="responsive-img">
             </div>

           </div>
         </div>
         <div class="div-name-pets-modal center">
           <span>{{nombre}}</span>
         </div>
       </div>
       <div class="col l9 modal-content-right">
         <div class="div-info">
           <h3>Información General</h3>
           <div class="">
             <span>Nombre: {{nombre}}</span>
             {{#if sexo}}
              <i class="fas fa-mars genero-revel-index-macho-modal"></i>
              {{else}}
              <i class="fas fa-venus genero-revel-index-hembra-modal"></i>
             {{/if}}
           </div>

           <div class="">
             <span>Tipo: {{tipo}}</span>
           </div>
           <div class="">
             <span>Edad: {{edad}}</span>
           </div>
           <div class="">
             <span>Raza: {{raza}}</span>
           </div>
           <div class="">
             <span>Color: {{color}}</span>
           </div>
           <div class="">
             <p>{{descripcion}}</p>
           </div>
         </div>

         <div class="div-ubicacion">
           <h3>Ubicación</h3>
           <div class="">
             <span>Estado: {{ubicacion.[0].estado}}</span>
           </div>
           <div class="">
             <span>Ciudad: {{ubicacion.[0].ciudad}}</span>
           </div>
           <div class="">
             <span>Calle: {{ubicacion.[0].calle}}</span>
           </div>
           <div class="">
             <span>Colonia: {{ubicacion.[0].colonia}}</span>
           </div>
           <div class="">
             <span>CP: {{ubicacion.[0].calle}}</span>
           </div>
         </div>
       </div>
     </div>
   </div>

 </div>
 <!-- Modal fin -->

  {{/each}}
    </div>
</div>
