<div class="container">
  <div class="div-container-search-pet">
    {{#if pets}}
    <div class="row div-container-search-pet-filter">
      <div class="col l2 right div-select">

        <select class="browser-default">
          <option value="" disabled selected>Ordernar por:</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="col l2 right div-order">
        <i class="fas fa-sort-amount-down"></i>
      </div>
      <div class="col l2">

      </div>
    </div>
    <div class="row">
      {{#each pets}}

      <div class="col l3 s12 m6">
        <div class="tarjeta-index-pet card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator card-image" src="/images/pets/{{imagen0}}">
          </div>
          <div class="contenido-tarjeta card-content">
            <div class="titulo overflow"><span>{{nombre}}</span></div>
          </div>
          <div class="card-reveal center">
            <span class="card-title revel-name-index">{{nombre}}</span>
            <label class="raza-revel-index">{{raza}}</label><br>
            {{#if sexo}}
            <i class="fas fa-mars genero-revel-index-macho"></i><br>
            {{else}}
            <i class="fas fa-venus genero-revel-index-hembra"></i><br>
            {{/if}}
            <label for="" class="ubicacion-revel-index">{{ubicacion.[0].estado}}, {{ubicacion.[0].ciudad}}</label>
            <a href="/detail-pet/{{_id}}" name="button" class="btn button-revel-index">Conocerlo</a>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    <div class="center div-pagination-search-pets">
      <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="fas fa-angle-left"></i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="fas fa-angle-right"></i></a></li>
      </ul>
    </div>
  </div>
  {{else}}
  <div class="div-not-found-search center">
    <h3>No se encontrarón resultados</h3>
  </div>
  {{/if}}
</div>
